[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
pydriller = "*"
lizard = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
